@media print {
  body * {
    visibility: hidden;
  }
  
  .no-print {
    display: none !important;
  }
  
  .printable-area, .printable-area * {
    visibility: visible;
  }
  
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background-color: white !important;
  }
  
  @page { margin: 1cm; }
}
